stages:
  - build
  - package
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  ECR_REGISTRY: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com
  ECR_REPOSITORY: ${REPO_NAME}
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

# 1. Build the Java Artifact (inside /product-service)
build_jar:
  stage: build
  image: maven:3.8.5-openjdk-17
  script:
    - cd product-service             # <--- Corrected folder name
    - chmod +x mvnw                  # Ensure the wrapper is executable
    - ./mvnw clean package -DskipTests
  artifacts:
    paths:
      - product-service/target/*.jar # <--- Path updated
    expire_in: 1 hour

# 2. Build Docker Image and Push to ECR
package_docker:
  stage: package
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    - apk add --no-cache aws-cli
    - aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $ECR_REGISTRY
  script:
    - cd product-service             # <--- Move to where Dockerfile is
    - docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
    - docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
    - docker tag $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:latest
    - docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest

# 3. Update AWS ECS Service
deploy_ecs:
  stage: deploy
  image: amazon/aws-cli
  script:
    - aws ecs update-service --cluster $ECS_CLUSTER_NAME --service $ECS_SERVICE_NAME --force-new-deployment