<h2>Products</h2>

<a routerLink="/create" class="create-btn">+ Create Product</a>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Qty</th>
    <th>Category</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let p of products">
    <td>{{ p.name }}</td>
    <td>{{ p.price }}</td>
    <td>{{ p.quantity }}</td>
    <td>{{ p.category }}</td>
    <td>
      <a [routerLink]="['/edit', p.id]" class="edit">Edit</a>
      <button (click)="delete(p.id!)">Delete</button>
    </td>
  </tr>
</table>
